<div style="color: black;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Register</h1>
      </div>
    </div>
    <div *ngIf="linkError | async">
      <div class="row">
        <div class="col">
          <div class="alert alert-danger">
            This invite link is invalid.
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!(linkError | async)">
      <form (ngSubmit)="onRegister()">
        <div class="row">
          <div class="col">
            <div [ngClass]="{ 'has-danger': nameError }">
              <label for="inputPassword">Name</label>
              <input
                [(ngModel)]="name"
                type="text"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': nameError
                }"
                id="inputName"
                name="inputName"
                placeholder="Name"
              />
              <div class="invalid-feedback">The name is too short.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div [ngClass]="{ 'has-danger': passwordError }">
              <label for="inputPassword">Password</label>
              <input
                [(ngModel)]="password"
                type="password"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': passwordError
                }"
                id="inputPassword"
                name="inputPassword"
                placeholder="Password"
              />
              <div class="invalid-feedback">The password is too short.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div [ngClass]="{ 'has-danger': repeatedPasswordError }">
              <label for="inputRepeatedPassword">Repeat password</label>
              <input
                [(ngModel)]="repeatedPassword"
                type="password"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': repeatedPasswordError
                }"
                id="inputRepeatedPassword"
                name="inputRepeatedPassword"
                placeholder="Repeat password"
              />
              <div class="invalid-feedback">The passwords do not match.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-lg">
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
