<div style="color: black;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Login to TELPA</h1>
      </div>
    </div>
    <form (ngSubmit)="onLogin()">
      <div class="row">
        <div class="col">
          <div>
            <label for="inputEmail">Email address</label>
            <input
              [(ngModel)]="email"
              type="email"
              [ngClass]="{ 'form-control': true, 'is-invalid': showError }"
              id="inputEmail"
              name="inputEmail"
              placeholder="Email"
            />
            <div class="invalid-feedback">This email is not registered.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div [ngClass]="{ 'has-danger': showError }">
            <label for="inputPassword">Password</label>
            <input
              [(ngModel)]="password"
              type="password"
              [ngClass]="{ 'form-control': true, 'is-invalid': showError }"
              id="inputPassword"
              name="inputPassword"
              placeholder="Password"
            />
            <div class="invalid-feedback">The password is incorrect.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-lg">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
