TELPA/.vs/TELPA/v16/
TELPA/TELPA/bin/TELPA.dll
TELPA/TELPA/bin/TELPA.pdb
TELPA/TELPA/obj/Debug/TELPA.csproj.FileListAbsolute.txt
TELPA/TELPA/obj/Debug/TELPA.dll
TELPA/TELPA/obj/Debug/TELPA.pdb

git rm -r --cached TELPA/.vs/TELPA/v16/
git rm --cached TELPA/TELPA/bin/TELPA.dll
git rm --cached TELPA/TELPA/bin/TELPA.pdb
git rm --cached TELPA/TELPA/obj/Debug/TELPA.csproj.FileListAbsolute.txt
git rm --cached TELPA/TELPA/obj/Debug/TELPA.dll
git rm --cached TELPA/TELPA/obj/Debug/TELPA.pdb