<br>
<br>
<br>
<br>

<div style="color: black;">
  <h1>Manager calendar</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-8 left_panel">
      <div class="container">
        <app-calendar>Loading calendar...</app-calendar>
      </div>
    </div>
    <div class="col-md-4 right_panel">
      <app-learning-days>Loading learning days...</app-learning-days>
    </div>
  </div>
  <div class="selectionfe">
    <div style="float:left;">
      <h2>Select team</h2>
      <select>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
      </select>
    </div>
    <div style="float:right;">
      <h2>Select worker</h2>
      <select>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
      </select>
    </div>
  </div>
</div>
