<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/homepage']">TELPA</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarColor01"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/employee-management']"
              >Employee management</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/employee-tree']"
              >Employee tree</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/topic-network']"
              >Topic network</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Topic</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/topic-add']">Add</a>
              <a class="dropdown-item" [routerLink]="['/topic-edit']">Edit</a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/recommendations']"
              >Recommendations</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/statistics']">Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">Limits</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/limits-add']">Add</a>
              <a class="dropdown-item" [routerLink]="['/limits-edit']">Edit</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active">{{ (me | async).name }}</a>
          </li>
          <li class="nav-item">
            <a (click)="onLogOut()" class="nav-link"><span>Log out</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
