<!-- Modular window to show event -->
<div class="modal text-center">
  <div class="content">
    <div class="close"></div>
    <div class="titledd">
      <h1> Hello, World!</h1>
    </div>
    <br>
    <div class="timedd">
      test
    </div>
    <br>
    <div class="contentdd">
      <p>Content</p>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-xl-8 left_panel">
        <div class="container">
          <app-calendar>Loading calendar...</app-calendar>
        </div>
    </div>
    <div class="col-md-4 right_panel">
      <app-learning-days>Loading learning days...</app-learning-days>
    </div>
  </div>
</div>
