<div class="col-md-8">
  <button type="button" class="btn btn-primary nwBtn">Register learning day</button>
</div>
<br>
<br>
<br>
<div class="event confirmed" id="0001">
  <div class="title" id="title">Learning CUDA</div>
  <div class="time" id="time">2020.04.20 15:20 Tuesday</div>
</div>
<div class="event confirmed" id="0001">
  <div class="title" id="title">Learning CUDA</div>
  <div class="time" id="time">2020.04.20 15:20 Tuesday</div>
</div>
<div class="event confirmed" id="0001">
  <div class="title" id="title">Learning CUDA</div>
  <div class="time" id="time">2020.04.20 15:20 Tuesday</div>
</div>
<div class="event confirmed" id="0001">
  <div class="title" id="title">Learning CUDA</div>
  <div class="time" id="time">2020.04.20 15:20 Tuesday</div>
</div>
<h1><button type="button" class="calendarbtn"><</button></h1>
<h1><button type="button" class="calendarbtn">></button></h1>
