<div class="col-md-8">
  <button type="button" class="btn btn-primary nwBtn" (click)="registerForm('custom-modal-4')">Register learning day</button>
</div>
<br>
<br>
<br>

<ng-container *ngFor="let LearningDaysAndTopicsForEmployee of learningDays">
  <div class="event confirmed" *ngIf="LearningDaysAndTopicsForEmployee != null" (click)="openModal(LearningDaysAndTopicsForEmployee.topicName, LearningDaysAndTopicsForEmployee.learningDayDate, 'custom-modal-3')">
    <div class="title" id="title">{{LearningDaysAndTopicsForEmployee.topicName}}</div>
    <div class="time" id="time">{{LearningDaysAndTopicsForEmployee.learningDayDate}}</div>
  </div>
</ng-container>
<h1><button type="button" class="calendarbtn" (click)="changePageLeft()"><</button></h1>
<h3 class="calendarbtn"> {{pageCounter}} </h3>
<h1><button type="button" class="calendarbtn" (click)="changePageRight()" style="margin-left: 20px;">></button></h1>

<jw-modal id="custom-modal-3" style="text-align: center">
  <h1>{{topicName}}</h1>
  <h3>{{dayDate}}</h3>
  <h3>{{topicDescription}}</h3>
  <h3>{{comment}}</h3>
  <br /><br /><br /><br />
  <button type="button" class="btn btn-success mdlBtn" (click)="closeModal('custom-modal-3');">Close</button>
</jw-modal>

<jw-modal id="custom-modal-4" style="text-align: center">

  <label for="selectTopic">Select topic</label><br />
  <select id="selectTopic" [(ngModel)]="post_topic">
    <option *ngFor="let topic of topics">{{topic.name}}</option>
  </select>

  <br /><br />
  <label for="dayS">Select date</label><br />
  <input type="date" id="dayS" name="date" [(ngModel)]="post_date">

  <br /><br />
  <label for="cmnt">Comment</label><br />
  <input type="text" id="cmnt" [(ngModel)]="post_comment">

  <br /><br />
  <button type="button" class="btn btn-success mdlBtn" (click)="closeModal('custom-modal-4');" (click)="submit_learning_day()">Submit</button>
</jw-modal>
