<div class="col-md-8">
  <button type="button" class="btn btn-primary">New event</button>
</div>
<br>
<br>
<br>
<div class="event confirmed" id="0001">
  <div class="title" id="title-0001">Meeting #0001</div>
  <div class="time" id="time-0001">2020.04.20 15:20 Tuesday</div>
</div>
<div class="event pending" id="0002">
  <div class="title" id="title-0002">Meeting #0002</div>
  <div class="time" id="time-0002">2020.04.20 15:20 Tuesday</div>
</div>
<div class="event canceled" id="0003">
  <div class="title" id="title-0003">Meeting #0003</div>
  <div class="time" id="time-0003">2020.04.20 15:20 Tuesday</div>
</div>
<div class="event canceled" id="0004">
  <div class="title" id="title-0004">Meeting #0004</div>
  <div class="time" id="time-0004">2020.04.20 15:20 Tuesday</div>
</div>
