<div style="color: black;">
  <div class="container">
    <h1>Edit Topic</h1>

    <div class="background-box">

      <div [hidden]="hideMessageBox" class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Topic has been updated.
      </div>

      <div class="form-group">
        <label for="selectTopic">Select Topic</label>
        <select class="form-control" id="selectTopic" (change)="onTopicChange()"
                [(ngModel)]="topicToModify['id']" name="id" #id="ngModel">
          <option [value]="null">(None)</option>
          <option *ngFor="let topic of topics" [value]="topic['id']" [ngStyle]="{'font-weight': topic['level'] === 0 ? 'bold' : 'regular'}">{{'&ensp;'.repeat(topic['level']) + topic['index'] + '. ' + topic['name']}}</option>
        </select>
      </div>

      <form (ngSubmit)="onSubmit()" #addTopic="ngForm" [hidden]="hideForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
                 [(ngModel)]="topicToModify['name']" name="name" #name="ngModel" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description"
                    [(ngModel)]="topicToModify['description']" name="description" #description="ngModel"></textarea>
        </div>


        <div class="form-group">
          <label for="link">Links</label>
          <div *ngFor="let link of topicLinksToModify; let i = index; trackBy: trackByFn">
            <input [hidden]="isEmpty[i]" type="url" class="form-control link-field" (input)="onLinkChange($event.target.value, i)" [value]="topicLinksToModify[i]['link']" />
          </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!addTopic.form.valid">Update</button>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="optLockingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="background-color: white; color: black;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The following topic has been already updated by another user. What do you want to do?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="overrideOptLock()">Override</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateOptLock()">Get updated</button>
      </div>
    </div>
  </div>
</div>

