@{
    ViewBag.Title = "Contact TELPA";
}
<h2>@ViewBag.Title</h2>
<h3>App developers:</h3>

<address>
    Paulius Milmantas<br />
    Arnas Kelpša<br />
    Leonardas Mačiulis<br />
    Tadas Gricius<br />
    Evaldas Jonaitis<br />

                      <br />
    VU MIF, Didlaukio g. 47,<br />
    LT-08303 Vilnius
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SupportExample@telpa.com">support@telpa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MarketingExample@telpa.com">marketing@telpa.com</a>
</address>