@{ ViewBag.Title = "Home Page"; }
<br>

<div class="Container">
    <div class="row">
        <div class="col-xs col-sm-8 col-lg-6 align-self-center">
            <img src="@ViewBag.ImageData" class="img-responsive">
        </div>
    </div>
</div>

<my-app>Loading AppComponent content here ...</my-app>
<br>
<app-calendar>Loading calendar content here...</app-calendar>