<div style="color: black;">
  <div class="container">

    <h1>Statistics</h1>

    <div class="background-box">

      <div class="form-group">
        <label for="selectTopic">Select Topic</label>
        <select class="form-control" id="selectTopic" (change)="onTopicChange()"
                [(ngModel)]="selectedTopicId" name="id" #id="ngModel">
          <option [value]="null">(None)</option>
          <option *ngFor="let topic of topics" [value]="topic['id']" [ngStyle]="{'font-weight': topic['level'] === 0 ? 'bold' : 'regular'}">{{'&ensp;'.repeat(topic['level']) + topic['index'] + '. ' + topic['name']}}</option>
        </select>
      </div>

    </div>
  </div>
</div>

