<div style="color: black;">
  <div class="container">

    <h1>Statistics</h1>

    <button *ngFor="let category of categories; let i = index" type="button" class="btn btn-primary" (click)="onCategoryClick(i)" [disabled]="category['disabled']">{{category['name']}}</button>

    
    <div class="background-box" [hidden]="!categories[0]['disabled']">

      <div class="form-group">
        <label for="selectTopic">Select Topic</label>
        <select class="form-control" id="selectTopic" (change)="onEmployeeTopicChange()"
                [(ngModel)]="selectedTopicId" name="id" #id="ngModel">
          <option [value]="null">(None)</option>
          <option *ngFor="let topic of topics" [value]="topic['id']" [ngStyle]="{'font-weight': topic['level'] === 0 ? 'bold' : 'regular'}">{{'&ensp;'.repeat(topic['level']) + topic['index'] + '. ' + topic['name']}}</option>
        </select>
      </div>

      <table class="table table-bordered" style="color: black;">
        <thead class="thead-dark">
          <tr>
            <th (click)="sortEmployees('rowNo')">No.</th>
            <th (click)="sortEmployees('name')">Name</th>
            <th (click)="sortEmployees('leaderName')">Leader</th>
            <th (click)="sortEmployees('date')">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee['rowNo']}}</td>
            <td>{{employee['name']}}</td>
            <td>{{employee['leaderName']}}</td>
            <td>{{employee['date']}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="background-box" [hidden]="!categories[1]['disabled']">

      <div class="form-group">
        <label for="selectTopic">Select Topic</label>
        <select class="form-control" id="selectTopic" (change)="onTeamsTopicChange()"
                [(ngModel)]="selectedTopicId" name="id" #id="ngModel">
          <option [value]="null">(None)</option>
          <option *ngFor="let topic of topics" [value]="topic['id']" [ngStyle]="{'font-weight': topic['level'] === 0 ? 'bold' : 'regular'}">{{'&ensp;'.repeat(topic['level']) + topic['index'] + '. ' + topic['name']}}</option>
        </select>
      </div>

      <table class="table table-bordered" style="color: black;">
        <thead class="thead-dark">
          <tr>
            <th (click)="sortTeams('rowNo')">No.</th>
            <th (click)="sortTeams('leaderName')">Leader</th>
            <th (click)="sortTeams('empCount')">Employee Count</th>
            <th (click)="sortTeams('date')">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{team['rowNo']}}</td>
            <td>{{team['leaderName']}}</td>
            <td>{{team['empCount']}}</td>
            <td>{{team['date']}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  <div class="background-box" [hidden]="!categories[2]['disabled']">

    <div class="form-group">
      <label for="selectLeader">Select Leader</label>
      <select class="form-control" id="selectLeader" (change)="onCompletedLeaderChange()"
              [(ngModel)]="selectedLeaderId" name="id" #id="ngModel">
        <option [value]="null">(None)</option>
        <option *ngFor="let leader of leaders" [value]="leader['id']">{{leader['name']}}</option>
      </select>
    </div>

    <table class="table table-bordered" style="color: black;">
      <thead class="thead-dark">
        <tr>
          <th (click)="sortCompleted('rowNo')">No.</th>
          <th (click)="sortCompleted('employeeName')">Employee Name</th>
          <th (click)="sortCompleted('topicName')">Topic Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comp of completed">
          <td>{{comp['rowNo']}}</td>
          <td>{{comp['employeeName']}}</td>
          <td>{{comp['topicName']}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="background-box" [hidden]="!categories[3]['disabled']">
      <div class="form-group">
        <label for="selectLeader">Select Leader</label>
        <select class="form-control" id="selectLeader" (change)="onScheduledLeaderChange()"
                [(ngModel)]="selectedLeaderId" name="id" #id="ngModel">
          <option [value]="null">(None)</option>
          <option *ngFor="let leader of leaders" [value]="leader['id']">{{leader['name']}}</option>
        </select>
      </div>

    <table class="table table-bordered" style="color: black;">
      <thead class="thead-dark">
        <tr>
          <th (click)="sortScheduled('rowNo')">No.</th>
          <th (click)="sortScheduled('employeeName')">Employee Name</th>
          <th (click)="sortScheduled('topicName')">Topic Name</th>
          <th (click)="sortScheduled('date')">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sched of scheduled">
          <td>{{sched['rowNo']}}</td>
          <td>{{sched['employeeName']}}</td>
          <td>{{sched['topicName']}}</td>
          <td>{{sched['date']}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
</div>

